@import "bootstrap/scss/bootstrap";

body {
	text-decoration: none;
	background: rgb(58,58,58);	
	color: black;
}

a, Link {
	text-decoration: none;
}

.navbar {
	background: rgb(58,58,58);
	background: linear-gradient(0deg, rgba(58,58,58,1) 0%, rgba(255,255,255,1) 7%);
}

a.nav-link, a.navbar-brand {
	color: black !important;
}

a.nav-link {
	font-size: 2rem;
}

a.navbar-brand {
	font-size: 4rem;
}

.white-container {
	background-color: white;
	margin-top: 3.5rem;
	border-radius: 7px;
	padding: 2.5rem;
}

.film-text {
	font-size: 1.3rem;
	text-decoration: none;
	color: black;
}

.actor-name {
	font-size: 1rem;
	text-decoration: none;
	color: black;
}

.genre-btn {
	font-size: 1.5rem;
	text-decoration: none;
	color: #fff !important;
	text-align: center;
	background-color: rgb(8, 87, 8);
	padding: 1.1rem;
	width: 13rem;
	border-radius: 5px;
}

.genre-btn:hover {
	background-color: rgb(10, 110, 10);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}