@import "bootstrap/scss/bootstrap";

body {
	text-decoration: none;
	background: rgb(58,58,58);	
	color: black;
}

a, Link {
	text-decoration: none;
}

.navbar {
	background-color: white;
}

a.nav-link, a.navbar-brand {
	color: black !important;
}

a.nav-link {
	font-size: 2rem;
}

a.navbar-brand {
	font-size: 3rem;
}

.white-container {
	background-color: white;
	margin-top: 3.5rem;
	border-radius: 7px;
	padding: 2.5rem;
}

.film-text {
	font-size: 1.3rem;
	text-decoration: none;
	color: black;
}

.actor-name {
	font-size: 1rem;
	text-decoration: none;
	color: black;
}